# CH6-1 DataFrame loc,iloc
## DataFrame 比 Numpyndarray(element-wise)提供資料統整的功能,通常為二維資料
## 橫的為列 直的為欄

In [3]:
#隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame =pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.237239  0.058814  0.669502  0.278116
b  0.468089  0.740667  0.753944  0.644530
c  0.588113  0.026289  0.670173  0.566287
d  0.770263  0.311469  0.676220  0.241252

# loc用屬性來定位DataFrame的資料
# iloc用索引來定位DataFrame的資料

In [6]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.515926  0.284310  0.692460  0.432546
std    0.223497  0.329860  0.041101  0.202703
min    0.237239  0.026289  0.669502  0.241252
25%    0.410377  0.050683  0.670005  0.268900
50%    0.528101  0.185142  0.673196  0.422201
75%    0.633650  0.418769  0.695651  0.585847
max    0.770263  0.740667  0.753944  0.644530

In [8]:
frame.loc['a','A']

0.23723949301754488

In [15]:
# 取前兩列資料
frame.loc['a':'b', :]

          A         B         C         D
a  0.237239  0.058814  0.669502  0.278116
b  0.468089  0.740667  0.753944  0.644530

In [21]:
# 取前兩欄資料
frame.loc[:,'A':'B']

          A         B
a  0.237239  0.058814
b  0.468089  0.740667
c  0.588113  0.026289
d  0.770263  0.311469

In [22]:
# 取特殊列 欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.237239  0.058814  0.669502  0.278116
c  0.588113  0.026289  0.670173  0.566287
          A         C
a  0.237239  0.669502
b  0.468089  0.753944
c  0.588113  0.670173
d  0.770263  0.676220
          A         D
a  0.237239  0.278116
d  0.770263  0.241252

# lioc是利用列索引與欄索引進行資料查詢，都是重0開始

In [24]:
frame.iloc[0,0]

0.23723949301754488

In [28]:
frame.iloc[0:2,:]

          A         B         C         D
a  0.237239  0.058814  0.669502  0.278116
b  0.468089  0.740667  0.753944  0.644530

In [32]:
# 取特殊列 欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.237239  0.058814  0.669502  0.278116
c  0.588113  0.026289  0.670173  0.566287
          A         C
a  0.237239  0.669502
b  0.468089  0.753944
c  0.588113  0.670173
d  0.770263  0.676220
          A         D
a  0.237239  0.278116
d  0.770263  0.241252