# Pandas Data Frame

In [24]:
import pandas as pd
groups=["modern web","devop","cloud","big data","secruity","自我挑戰組"]
ironman= [59,9,19,14,16,77]
ironman_dict={"groups":groups,"ironman":ironman}
ironman_df=pd.DataFrame(ironman_dict)
ironman_df

       groups  ironman
0  modern web       59
1       devop        9
2       cloud       19
3    big data       14
4    secruity       16
5       自我挑戰組       77

In [25]:
print(ironman_df.sum())#總數
print(ironman_df.mean())#平均數
print(ironman_df.median())#中位數
print(ironman_df.describe())#列出所有統計

groups     modern webdevopcloudbig datasecruity自我挑戰組
ironman                                          194
dtype: object
ironman    32.333333
dtype: float64
ironman    17.5
dtype: float64
         ironman
count   6.000000
mean   32.333333
std    28.394835
min     9.000000
25%    14.500000
50%    17.500000
75%    49.000000
max    77.000000

In [26]:
import numpy as np
groups=["modern web","devop",np.nan,"big data","secruity","自我挑戰組"]
ironman= [59,9,19,14,16,np.nan]
ironman_dict={"groups":groups,"ironman":ironman}

ironman_df=pd.DataFrame(ironman_dict)
print(ironman_df)
print(ironman_df.loc[:, "groups"].isnull())# 判斷哪些組的組名是遺失值
print(ironman_df.loc[:, "ironman"].notnull())

       groups  ironman
0  modern web     59.0
1       devop      9.0
2         NaN     19.0
3    big data     14.0
4    secruity     16.0
5       自我挑戰組      NaN
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironman, dtype: bool

In [27]:
ironman_df_na_dropped = ironman_df.dropna() #   #刪除遺失值
print(ironman_df_na_dropped)
ironman_df_na_filled = ironman_df.fillna(0) 
print(ironman_df_na_filled)
ironman_df_na_filled = ironman_df.fillna({"groups": "Cloud", "ironman": 71}) # 依欄位填補遺失值
print(ironman_df_na_filled)

       groups  ironman
0  modern web     59.0
1       devop      9.0
3    big data     14.0
4    secruity     16.0
       groups  ironman
0  modern web     59.0
1       devop      9.0
2           0     19.0
3    big data     14.0
4    secruity     16.0
5       自我挑戰組      0.0
       groups  ironman
0  modern web     59.0
1       devop      9.0
2       Cloud     19.0
3    big data     14.0
4    secruity     16.0
5       自我挑戰組     71.0

In [28]:
ironman_df.groups[ironman_df.loc[:,"groups"].isnull()]="天空之城"
ironman_df.ironman[ironman_df.loc[:,"ironman"].notnull()]+=10
ironman_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  ironman
0  modern web     69.0
1       devop     19.0
2        天空之城     29.0
3    big data     24.0
4    secruity     26.0
5       自我挑戰組      NaN

In [29]:
import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

# 用索引值排序
ironmen_df.sort_index()

            ironmen
Big Data         14
Cloud            19
DevOps            9
Modern Web       59
Security          6
自我挑戰組            77

In [30]:

import pandas as pd

groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

# 用數值排序
ironmen_df.sort_values(by = "ironmen")

            ironmen
Security          6
DevOps            9
Big Data         14
Cloud            19
Modern Web       59
自我挑戰組            77